
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:include="includes/header :: header"> </div>
<body class="">
<div class="wrapper ">
  <div th:include="includes/nav :: navigaion"> </div>
    <div class="main-panel">
      <div th:include="includes/menu :: menu"/>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success">
                  <h4 class="card-title ">
                    Students Table
                    <a th:href="@{/newstudent}" class="btn btn-secondary pull-right" style="color: black">New</a>
                  </h4>
                  <p class="card-category"> Students Data</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-success">
                        <th>Roll No</th>
                        <th>Name</th>
                        <th>Date Of Birth</th>
                        <th>Gender</th>
                        <th>Action</th>
                      </thead>
                      <tbody>
                        <tr th:each="student, index : ${students.page}">
                          <td th:text="${student.getSRollNo()}"></td>
                          <td th:text="${student.getSName()}"/>
                          <td th:text="${student.getSDob()}"/>
                          <td th:text="${student.getSGender()}"/>
                          <td>
                            <a th:href="@{/editstudent/{id}(id=${student.getSid()})}" class="btn btn-outline-primary btn-sm">Edit</a>
                            <a th:href="@{/deletestudent/{id}(id=${student.getSid()})}" class="btn btn-outline-danger btn-sm">Delete</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <nav aria-label="Page navigation" class="paging">
                      <ul class="pagination" th:if="${students.page.totalPages > 1}">
                        <li class="page-item" th:classappend="${!students.paging.isPrevEnabled()? 'disabled' : ''}">
                          <a class="page-link" th:href="@{'/students/?pageNumber=' + ${students.paging.pageNumber - 1}}"
                             tabindex="-1">Previous</a>
                        </li>
                        <th:block th:each="item : ${students.paging.getItems()}">
                          <li class="page-item" th:classappend="${item.index == students.paging.pageNumber? 'active' : ''}"
                              th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'/students/?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                          </li>
                          <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                          </li>
                        </th:block>
                        <li class="page-item" th:classappend="${!students.paging.isNextEnabled()? 'disabled' : ''}">
                          <a class="page-link" th:href="@{'/students/?pageNumber=' + ${students.paging.pageNumber + 1}}">Next</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:include="includes/footer :: footer"></div>
</body>

</html>