<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:include="includes/header :: header"> </div>
<body class="">
<div class="wrapper ">
    <div th:include="includes/nav :: navigaion"> </div>
    <div class="main-panel">
        <div th:include="includes/menu :: menu"/>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Create Subject</h4>
                                <p class="card-category">Complete Subject Information</p>
                            </div>
                            <div class="card-body">
                                <form action="#" th:action="@{/subjects/update/{id}(id=${subject.id})}" th:object="${subject}" method="post">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Subject Code</label>
                                                <input th:field="*{subCode}" type="text" class="form-control">
                                                <span th:if="${#fields.hasErrors('subCode')}" th:errors="*{subCode}" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Subject Name</label>
                                                <input th:field="*{subName}" type="text" class="form-control">
                                                <span th:if="${#fields.hasErrors('subName')}" th:errors="*{subName}" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <select id="teacher"  class="form-control" th:field="*{teacher}">
                                                    <option th:each="teacher : ${teachers}" th:value="${teacher.tid}" th:text="${teacher.name}"></option>
                                                </select>
                                                <span th:if="${#fields.hasErrors('teacher')}" th:errors="*{teacher}" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Book Name</label>
                                                <input th:field="*{bookName}" type="text" class="form-control">
                                                <span th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Description</label>
                                                <input th:field="*{description}" type="text" class="form-control">
                                                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <select id="class"  class="form-control" th:field="*{classId}">
                                                    <option th:each="class : ${classes}" th:value="${class.cid}" th:text="${class.getCName()}"></option>
                                                </select>
                                                <span th:if="${#fields.hasErrors('classId')}" th:errors="*{classId}" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Maximum Mark</label>
                                                <input th:field="*{maxMark}" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Pass Mark</label>
                                                <input th:field="*{passMark}" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success pull-right">Update Subject</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="includes/footer :: footer"></div>
</body>

</html>