<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:include="includes/header :: header"> </div>
<body class="">
<div class="wrapper ">
    <div th:include="includes/nav :: navigaion"> </div>
    <div class="main-panel">
        <div th:include="includes/menu :: menu"/>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Create Exam</h4>
                                <p class="card-category">Complete Exam Information</p>
                            </div>
                            <div class="card-body">
                                <form action="#" th:action="@{/exam/add}" th:object="${exam}" method="post">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <select id="class"  class="form-control" th:field="*{classId}">
                                                    <option value="0">Select Class</option>
                                                    <option th:each="class : ${classes}" th:value="${class.cid}" th:text="${class.cName}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">ExamName</label>
                                                <input th:field="*{eName}" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label class="bmd-label-static">ExamStartDate</label>
                                                <input th:field="*{esDate}" type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label class="bmd-label-static">ExamEndDate</label>
                                                <input th:field="*{eeDate}" type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label class="bmd-label-static">EntryDate</label>
                                                <input th:field="*{entryDate}" type="date" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success pull-right">Create Exam</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="includes/footer :: footer"></div>
</body>

</html>