<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:include="includes/header :: header"> </div>
<body class="">
<div class="wrapper ">
    <div th:include="includes/nav :: navigaion"> </div>
    <div class="main-panel">
        <div th:include="includes/menu :: menu"/>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title ">
                                    Attendance Table
                                    <a th:href="@{/attendance/new}" class="btn btn-secondary pull-right" style="color: black">New</a>
                                </h4>
                                <p class="card-category"> Attendances Data</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-success">
                                        <th>Class</th>
                                        <th>Absents</th>
                                        <th>Date</th>
                                        <th>Entry</th>
                                        <th>Student</th>
                                        <th>Teacher</th>
                                        <th>Subject</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="attendance, index : ${attendances.page}">
                                            <td th:text="${attendance.classId.getCName()}"></td>
                                            <td th:text="${attendance.absents}"></td>
                                            <td th:text="${attendance.date}"></td>
                                            <td th:text="${attendance.entry}"></td>
                                            <td th:text="${attendance.studentId.getSName()}"></td>
                                            <td th:text="${attendance.teacherId.getName()}"></td>
                                            <td th:text="${attendance.subjectId.getSubName()}"></td>
                                            <td>
                                                <a th:href="@{/attendance/edit/{id}(id=${attendance.aid})}" class="btn btn-outline-primary btn-sm">Edit</a>
                                                <a th:href="@{/attendance/delete/{id}(id=${attendance.aid})}" class="btn btn-outline-danger btn-sm">Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <nav aria-label="Page navigation" class="paging">
                                        <ul class="pagination" th:if="${attendances.page.totalPages > 1}">
                                            <li class="page-item" th:classappend="${!attendances.paging.isPrevEnabled()? 'disabled' : ''}">
                                                <a class="page-link" th:href="@{'/attendance/?pageNumber=' + ${attendances.paging.pageNumber - 1}}"
                                                   tabindex="-1">Previous</a>
                                            </li>
                                            <th:block th:each="item : ${attendances.paging.getItems()}">
                                                <li class="page-item" th:classappend="${item.index == attendances.paging.pageNumber? 'active' : ''}"
                                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                                    <a class="page-link" th:href="@{'/attendance/?pageNumber=' + ${item.index}}"
                                                       th:text="${item.index}"></a>
                                                </li>
                                                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                                    <a class="page-link" href="#">...</a>
                                                </li>
                                            </th:block>
                                            <li class="page-item" th:classappend="${!attendances.paging.isNextEnabled()? 'disabled' : ''}">
                                                <a class="page-link" th:href="@{'/attendance/?pageNumber=' + ${attendances.paging.pageNumber + 1}}">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="includes/footer :: footer"></div>
</body>

</html>