<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:include="includes/header :: header"> </div>
<body class="">
<div class="wrapper ">
  <div th:include="includes/nav :: navigaion"> </div>
  <div class="main-panel">
    <div th:include="includes/menu :: menu"/>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-success">
                <h4 class="card-title">Update Attendance</h4>
                <p class="card-category">Complete Attendance Information</p>
              </div>
              <div class="card-body">
                <form action="#" th:action="@{/attendance/update/{id}(id=${attendance.aid})}" th:object="${attendance}" method="post">
                  <div class="row">
                    <div class="col-md-4 col-sm-12">
                      <div class="form-group">
                        <select id="class"  class="form-control" th:field="*{classId}">
                          <option th:each="class : ${classes}" th:value="${class.cid}" th:text="${class.cName}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('classId')}" th:errors="*{classId}" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Absent</label>
                        <input th:field="*{absents}" type="text" class="form-control">
                        <span th:if="${#fields.hasErrors('absents')}" th:errors="*{absents}" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="col-md-4 ">
                      <div class="form-group">
                        <label class="bmd-label-static">Date</label>
                        <input th:field="*{date}" type="date" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-4 ">
                      <div class="form-group">
                        <label class="bmd-label-static">Entry</label>
                        <input th:field="*{entry}" type="date" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="form-group">
                        <select id="student"  class="form-control" th:field="*{studentId}">
                          <option th:each="student : ${students}" th:value="${student.sid}" th:text="${student.sName}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="form-group">
                        <select id="teacher"  class="form-control" th:field="*{teacherId}">
                          <option th:each="teacher : ${teachers}" th:value="${teacher.tid}" th:text="${teacher.name}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('teacherId')}" th:errors="*{teacherId}" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="form-group">
                        <select id="subject"  class="form-control" th:field="*{subjectId}">
                          <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.subName}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('subjectId')}" th:errors="*{subjectId}" class="text-danger"></span>
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-success pull-right">Update Attendance</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:include="includes/footer :: footer"></div>
</body>

</html>