
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:include="includes/header :: header"> </div>
<body class="">
<div class="wrapper ">
    <div th:include="includes/nav :: navigaion"> </div>
    <div class="main-panel">
        <div th:include="includes/menu :: menu"/>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title ">
                                    Class Table
                                    <a th:href="@{/classes/new}" class="btn btn-secondary pull-right" style="color: black">New</a>
                                </h4>
                                <p class="card-category"> Classes Data</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-success">
                                        <th>Name</th>
                                        <th>Teacher</th>
                                        <th>Capacity</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Action</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="classs, index : ${classes.page}">
                                                <td th:text="${classs.getCName()}"></td>
                                                <td th:text="${classs.teacherId.name}"></td>
                                                <td th:text="${classs.capacity}"></td>
                                                <td th:text="${classs.startDate}"></td>
                                                <td th:text="${classs.endDate}"></td>
                                                <td>
                                                    <a th:href="@{/classes/edit/{id}(id=${classs.cid})}" class="btn btn-outline-primary btn-sm">Edit</a>
                                                    <a th:href="@{/classes/delete/{id}(id=${classs.cid})}" class="btn btn-outline-danger btn-sm">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav aria-label="Page navigation" class="paging">
                                        <ul class="pagination" th:if="${classes.page.totalPages > 1}">
                                            <li class="page-item" th:classappend="${!classes.paging.isPrevEnabled()? 'disabled' : ''}">
                                                <a class="page-link" th:href="@{'/classes/?pageNumber=' + ${classes.paging.pageNumber - 1}}"
                                                   tabindex="-1">Previous</a>
                                            </li>
                                            <th:block th:each="item : ${classes.paging.getItems()}">
                                                <li class="page-item" th:classappend="${item.index == classes.paging.pageNumber? 'active' : ''}"
                                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                                    <a class="page-link" th:href="@{'/classes/?pageNumber=' + ${item.index}}"
                                                       th:text="${item.index}"></a>
                                                </li>
                                                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                                    <a class="page-link" href="#">...</a>
                                                </li>
                                            </th:block>
                                            <li class="page-item" th:classappend="${!classes.paging.isNextEnabled()? 'disabled' : ''}">
                                                <a class="page-link" th:href="@{'/classes/?pageNumber=' + ${classes.paging.pageNumber + 1}}">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="includes/footer :: footer"></div>
</body>

</html>