<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:include="includes/header :: header"> </div>
<body class="">
<div class="wrapper ">
  <div th:include="includes/nav :: navigaion"> </div>
  <div class="main-panel">
    <div th:include="includes/menu :: menu"/>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-success">
                <h4 class="card-title">Create Class</h4>
                <p class="card-category">Complete Class Information</p>
              </div>
              <div class="card-body">
                <form action="#" th:action="@{/classes/add}" th:object="${classes}" method="post">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Number of class</label>
                        <input th:field="*{cNumber}" type="text" class="form-control">
                        <span th:if="${#fields.hasErrors('cNumber')}" th:errors="*{cNumber}" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Class Name</label>
                        <input th:field="*{cName}" type="text" class="form-control">
                        <span th:if="${#fields.hasErrors('cName')}" th:errors="*{cName}" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="form-group">
                        <select id="teacher"  class="form-control" th:field="*{teacherId}">
                          <option value="0">Select Teacher</option>
                          <option th:each="teacher : ${teachers}" th:value="${teacher.tid}" th:text="${teacher.name}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('teacherId')}" th:errors="*{teacherId}" class="text-danger"></span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4 ">
                      <div class="form-group">
                        <label class="bmd-label-floating">Capacity</label>
                        <input th:field="*{capacity}" type="text" class="form-control">
                        <span th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="col-md-4 ">
                      <div class="form-group">
                        <label class="bmd-label-static">Start Date</label>
                        <input th:field="*{startDate}" type="date" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-4 ">
                      <div class="form-group">
                        <label class="bmd-label-static">End Date</label>
                        <input th:field="*{endDate}" type="date" class="form-control">
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-success pull-right">Create Class</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:include="includes/footer :: footer"></div>
</body>

</html>