<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:include="includes/header :: header"> </div>
<body class="">
<div class="wrapper ">
    <div th:include="includes/nav :: navigaion"> </div>
    <div class="main-panel">
        <div th:include="includes/menu :: menu"/>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Update Mark</h4>
                                <p class="card-category">Complete Mark Information</p>
                            </div>
                            <div class="card-body">
                                <form action="#" th:action="@{/edit/update/{id}(id=${mark.mid})}" th:object="${mark}" method="post">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <select id="student"  class="form-control" th:field="*{studentId}">
                                                    <option value="0">Select Student</option>
                                                    <option th:each="student : ${students}" th:value="${student.sid}" th:text="${student.getSName()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <select id="teacher"  class="form-control" th:field="*{examId}">
                                                    <option value="0">Select Exam</option>
                                                    <option th:each="exam : ${exams}" th:value="${exam.eid}" th:text="${exam.getEName()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <select id="subject"  class="form-control" th:field="*{subjectId}">
                                                    <option value="0">Select Subject</option>
                                                    <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.subName}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Mark</label>
                                                <input th:field="*{mark}" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Remark</label>
                                                <input th:field="*{remarks}" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Attendance</label>
                                                <input th:field="*{attendance}" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success pull-right">Update Mark</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="includes/footer :: footer"></div>
</body>

</html>